[Configuration]
command-gtk-launcher=sudo
favorites-rows=2
menu-icon=start-here
position=0
recent-items=10
show-execute=1
show-help=1
show-lockscreen=0
show-logout=1
show-restart=1
show-shutdown=1
show-suspend=0
show-switch-user=0
stay-on-focus-out=false
WhiskerMenu
button-icon=distributor-logo
button-title=Applications
