[Desktop Entry]
Version=1.0
Type=Application
Name=Terminal
Comment=Command line shell
Exec=xfce4-terminal
Icon=org.xfce.terminal
StartupNotify=true
Terminal=false
Categories=Utility;TerminalEmulator;
